asgiref
boto3
botocore
certifi
charset-normalizer
cloudinary
dj3-cloudinary-storage
Django
django-active-link
django-filter
django-storages
gunicorn
jmespath
mysqlclient
Pillow
psycopg2
python-dateutil
pytz
s3transfer
six
sqlparse
typing-extensions
urllib3
whitenoise
