<!-- upload_video_intro.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your  description here">
    
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    
    <!-- FontAwesome JS -->
    <script defer src="{% static 'fontawesome/js/all.js' %}"></script>
    
    <!-- Plugin CSS -->
    <!-- Add links to any additional CSS plugins you want to include -->

    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{% static 'css/theme-1.css' %}">

    <title>Certifications</title>
</head>
<body>
{% block content %}
    <h2>Introduction</h2>
    <hr>
    <divclass="container>
       {%for x in video%}
       <video width="920" height="1080" controls></video>  
       <video class="embed-responsive embed-reponsive-16by8" controls="controls">
         <source src="{{x.video.url}}" type="video/mp4">
         </video>
            {%endfor%}
    </div>
{% endblock %}

</body>
</html>
